#formulario{
    border-style: solid;
    border-color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 10%;
    margin-inline: 500px;
    padding: 20px;
}

body{
    background-color: rgb(245, 186, 97);
    text-align: center;
}